
@{
    ViewBag.Tittle = "Index";
}

<br />
<br />
<br />

<h1>Welcom to The Boxing Championship</h1>
<br />
<h3>Enter a name boxer for search her/his ranking</h3>

@using (Ajax.BeginForm("MainPage", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="text" name="name" />
    <input type="submit" name="Search" />
}
<div id="results"></div>
