
@{
    ViewBag.Tittle = "Index";
}

<br />
<br />
<br />

<h1>Welcom to The Boxing Championship</h1>
<br />
<h3>Enter a name boxer for search her/his ranking</h3>

@using (Ajax.BeginForm("MainPage", new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 800 }))
{
    <input type="text" id="name" name="name" />
    <input type="submit" id="search" value="Search" />
}

<script>
    $('#search').click(function () {
        var name = $("#name").val();
        name = encodeURIComponent(name);
        $.ajax({
            type: "POST",
            url: "/Box/MainPage?name=" + name,
            data: param = "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
    });
</script>

<div id="results"></div>

<div id="loading" style="display:none; color:red; font-weight:bold;">
    <p>Loading...</p>
</div>

<br />
<br />
<br />

<table id="ChampionshipTable"></table>
<div id="ChampionshipPager"></div>

<link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ChampionshipTable").jqGrid({
            url: '@Url.Action("Championship")',
            datatype: "json",
            colNames: ['Date', 'AmountOfRounds', 'Winner', 'Loser'],
            colModel: [
                { name: 'Date', index: 'Date' },
                { name: 'AmountOfRounds', index: 'AmountOfRounds' },
                { name: 'Winner', index: 'Winner' },
                { name: 'Loser', index: 'Loser' },
                ],
            rowNum: 4, // число отображаемых строк
            loadonce:true, // загрузка только один раз
            sortname: 'Id', // сортировка по умолчанию по столбцу Id
            sortorder: "desc", // порядок сортировки
            caption: "List Championship"
        });
    });
    </script>
}
