@model IEnumerable<ChampionshipOfBox.Models.Ranking>

<table cellpadding="3">
    <tr>
        <th>Current ranking</th>
        <th>Boxer</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CurrentRanking</th>
            <th>@item.Boxer.Name</th>
            <th>@item.AmountBottles</th>
        </tr>
    }
</table>

<br />

@using (Ajax.BeginForm("MainPage", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="text" name="name" />
    <input type="submit" name="Search" />
}
<div id="results"></div>