@model IEnumerable<ChampionshipOfBox.Models.Ranking>

<br />

@if (Model.Count() == 0)
{
    <tr><th>Boxer not found</th></tr>
}
else
{
    <table cellpadding="3">
        <tr>
            <th>Current ranking </th>
            <th>Boxer </th>
            <th>Amount Rounds </th>
        </tr>


        @foreach (var item in Model)
        {
        <tr>
            <th>@item.CurrentRanking</th>
            <th>@item.Boxer.Name</th>
            <th>@item.AmountBottles</th>
        </tr>
        }
    </table>
}