
@{
    ViewBag.Tittle = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/jquery.jqGrid/ui.jqgrid.css" title="coffee" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css" title="coffee" media="screen" />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="/Scripts/jquery.jqGrid.js"></script>
<script src="/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqModal/1.4.2/jqModal.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/modules/jqdnr.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<br />

<h1>Welcom to The Boxing Championship</h1>
<br />
<h3>Enter a name boxer for search her/his battles</h3>

<input type="text" id="name" name="name" />
<input type="radio" id="radio" name="drink" value="true"> Winner or Loser
<input type="radio" id="radio" name="drink" value="false">
<input type="submit" id="search" value="Search" />

<table id="Championship" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="jpager"></div>

<script>
    $('#search').click(function () {
        debugger;
        var name = $("#name").val();
        name = encodeURIComponent(name);
        var result = $("#radio").val();
        result = encodeURIComponent(result);
        $("#Championship").jqGrid({
            url: "/Championship/ChampionshipData?name=" + name + "&result=" + result,
            datatype: 'json',
            colNames: ['Date', 'AmountOfRounds', 'Winner', 'Loser'],
            colModel: [
                { name: 'Date', index: 'Date', width: 200, align: 'left' },
                { name: 'AmountOfRounds', index: 'AmountOfRounds', width: 120, align: 'left' },
                { name: 'Winner', index: 'Winner', width: 80, align: 'left' },
                { name: 'Loser', index: 'Loser', width: 80, align: 'left' }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            width: 800,
            pager: '#jpager',
            loadonce: true,
            sortname: 'Date',
            sortorder: "desc",
            caption: "Battles"
        });
        $("#Championship").jqGrid('navGrid', '#jpager', {
            search: true,
            searchtext: "Search",
            refresh: false,
            view: true,
            viewtext: "Detailed view of battle",
            viewtitle: "Selected record"
        }
        );
    });
</script>
