
@{
    ViewBag.Tittle = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/jquery.jqGrid/ui.jqgrid.css" title="coffee" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css" title="coffee" media="screen" />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="/Scripts/jquery.jqGrid.js"></script>
<script src="/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqModal/1.4.2/jqModal.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/modules/jqdnr.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<div id="jpager"></div>
<table id="battle"></table>

<script type="text/javascript">

    // hard-cod will be delete
    var listBoxers = "17:Bob;18:Sam;19:Rick;20:Sam;21:Morty;22:Will;23:Jenny;24:Criss;25:Bob;26:Bob;";

    $(document).ready(function () {
        $("#battle").jqGrid({
            url: '@Url.Action("GetBattles")',
            editurl: '/Battle/EditBattle',
            addurl: '/Battle/AddNewBattle',
            deleteurl: '/Battle/DeleteBattle',
            mtype: "GET",
            datatype: "json",
            jsonReader: { id: "Id" },
            prmNames: { id: "Id" },
            colNames: ['Id', 'Date', 'Rounds', 'Winner', 'Loser', 'Points'],
            colModel: [
                { name: 'Id', index: 'Id', width: 50, key: true, hidden: true, search: false },
                {
                    name: 'Date', index: 'Date', width: 200, align: 'left', editable: true, edittype: 'text', sortable: true, formatter: "date",
                    formatoptions: { srcformat: "m/d/Y h:i:s A", newformat: "Y-m-d" }, editrules: { required: true }
                },
                {
                    name: 'AmountOfRounds', index: 'AmountOfRounds', width: 120, align: 'left', editable: true,
                    edittype: 'text', sortable: true, editrules: { required: true }
                },
                {
                    name: 'Winner', index: 'Winner', width: 80, align: 'left', editable: true, 
                    edittype: 'select', sortable: true, formatter: 'select', editrules: { required: true }, editoptions: { value: listBoxers }
                },
                {
                    name: 'Loser', index: 'Loser', width: 80, align: 'left', editable: true,
                    edittype: 'select', sortable: true, formatter: 'select', editrules: { required: true }, editoptions: { value: listBoxers }
                },
                {
                    name: 'RefereePoints', index: 'RefereePoints', width: 80, align: 'left', editable: true,
                    edittype: 'text', sortable: true, editrules: { required: true }
                }
            ],
            height: "auto",
            width: 800,
            rowNum: 10,
            pager: '#jpager',
            addParams: { useFormatter: false },
            caption: "Battles"
        });

        $("#battle").jqGrid('navGrid', '#jpager', {
            edit: false, add: false, save: false, cancel: false,
            search: true, refresh: true, del: true, view: true
        });
        $("#battle").jqGrid('inlineNav', '#jpager',
            {
                search: true,
                refresh: false,
                add: true,
                addicon: "ui-icon-plus",
                del: true, 
                delicon: "ui-icon-cancel",
                edit: true,
                editicon: "ui-icon-pencil",
                view: true,
                viewtext: "Look",
                viewtitle: "Selected record",
                addtext: "Add",
                edittext: "Edit",
                searchtext: "Search",
                deltext: "Delete"
            },
            update("edit"), // обновление
            update("add"), // добавление
            update("del") // удаление
        );
        function update(act) {
            return {
                closeAfterAdd: true,
                height: 250,
                width: 400,
                closeAfterEdit: true,
                reloadAfterSubmit: true,
                drag: true,
                onclickSubmit: function (params) {
                    var list = $("#battle");
                    var selectedRow = list.getGridParam("selrow");
                    rowData = list.getRowData(selectedRow);
                    if (act === "add")
                        params.url = '@Url.Action("AddNewBattle")';
                    else if (act === "del")
                        params.url = '@Url.Action("DeleteBattle")';
                    else if (act === "edit")
                        params.url = '@Url.Action("EditBattle")';
                },
                afterSubmit: function (response, postdata) {
                    $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid')
                    return [true, "", 0]
                }
            }
        }
    });
</script>
